.hype__gauge__container {
  position: relative;
  top: 30px;
}

.hype__gauge__container img {
  display: block;
  max-width: 150px;
}

.hype__gauge__needle {
  position: absolute;
  top: -18px;
  transform-origin: 50% 90%;
  transition: transform 0.5s ease;
}

@media (max-width: 1024px) {
 
  .hype__gauge__container {
    top:0;
  }

}