.hud__faded {
  position: absolute;
  inset: 0;
  opacity: 0.5;
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.red {
  color: #da1b1b;
}

.center {
  text-align: center;
}
