@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&family=Roboto:wght@500&display=swap');

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular weight */
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Black.ttf") format("truetype");
  font-weight: 900; /* Black weight */
}


body {
  margin: 0;
}
