.gameMeter__container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.gameMeter__timeLeft {
  position: absolute;
  font-size: 60px;
  bottom: 0;
  text-align: center;
  right: 0;
  color: white;
  left: 0;
  margin: auto;
  z-index: 3;
  mix-blend-mode: overlay;
  font-weight: bold;
}

.gameMeter__container img {
  display: block;
  inset: 0;
  max-width: 100vw;
  transition: all 1s linear;
}

@media (max-width:1024px) {

  .gameMeter__container img {
    max-width:75vw;
  }
  
}
