.audio__player {
  display: none
}


.audio__icon {
  position: absolute; 
  bottom: 0; 
  left: 10px; 
  width: 120px;
  filter: grayscale(1);
}


.audio__icon--playing {
  filter: grayscale(0);
}

@media (max-width: 1024px) {

  .audio__icon {
    top:0;
    left:10px;
    transform:rotateX(180deg);
  }

}