.audio__container {
  position: absolute;
  top: 138px;
  left: 428px;
  transform: rotate(4deg);
  display: flex;
  justify-content: center;
  gap: 20px;
  z-index: 2;
}

.audio__player {
  position: relative;
}

.audio__hidden {
  display: none;
}
