.gameMeter__container {
  pointer-events: none;
  width: 400px;
  height: 131px;

  position: fixed;

  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
}

.gameMeter__overlay {
  position: absolute;
  filter: grayscale(1);
  inset: 0;
  height: 100%;
}

.gameMeter__image {
  height: 100%;
  clip-path: inset(0 100% 0 0);
  transition: all 1.5s ease-in-out;
}

.backgroundImage {
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url('./assets/hud/clock.png');
  background-position: top;
}

.gameMeter__text {
  font-size: 60px;
  color: white;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}
